<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Product</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>

<!--<span th:text="#{listProduct.language}"></span> <a href="?lang=en">English</a> | <a href="?lang=vn">Vietnamese</a>-->
<br>
<div style="margin: auto; width: 800px">
    <h3>Edit Product</h3>
    <span>
        <a th:href="@{/product/list}">Back to product list</a>
    </span>
    <th:block th:if="${message}">
        <p th:text="${message}"></p>
    </th:block>
    <br>
    <form th:action="@{/product/edit}" th:object="${product}" method="post">
        <input th:type="hidden" name="id" th:field="*{id}">
        <table class="table table-striped row" style="margin: auto">
            <tr>
                <td th:text="Name" style="width: 200px"></td>
                <td>
                    <input type="text" th:field="*{name}">
                </td>
            </tr>

            <tr>
                <td th:text="Price" style="width: 200px"></td>
                <td>
                    <input type="text" th:field="*{price}">
                </td>
            </tr>

            <tr>
                <td th:text="Brand" style="width: 150px"></td>
                <td>
                    <input type="text" th:field="*{brand}">
                </td>
            </tr>

            <tr>
                <td th:text="Type" style="width: 200px"></td>
                <td>
                    <select th:field="*{type}" id="type" style="width: 300px">
                        <option th:each="type : ${types}"
                                th:value="${type.getId()}"
                                th:text="${type.name}"></option>
                    </select>
                </td>
            </tr>

            <tr>
                <td th:text="Description" style="width: 200px"></td>
                <td>
                    <input type="text" th:field="*{description}">
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="Edit">
                </td>
            </tr>
        </table>
    </form>

</div>
<br>
<!--<a th:href="@{/logout}" style="margin-left: 100px" th:text="#{logout}"></a>-->
</body>
</html>