<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Product List </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
<!--<span th:text="#{listProduct.language}"></span> <a href="?lang=en">English</a> | <a href="?lang=vn">Vietnamese</a>-->
<br> <h4>Product List </h4>
<span>
    <a th:href="@{/product/create}"> Add new product </a><br>
    <a th:href="@{/product/list}"> All product </a><br>
    <a th:href="@{/productType/list}">Product Type</a>
</span>
<div style="margin: auto; width: 800px">
    <br>
    <form style="margin-left: 100px">
<!--        <span th:text="#{listProduct.search}"></span>-->
        <input type="text" name="s">
        <input type="submit" th:value="Search">
    </form>
    <br>
    <table class="table table-striped row" style="margin: auto">
        <tr>
            <td th:text="Id" style="width: 100px"></td>
            <td th:text="Name" style="width: 300px"></td>
            <td th:text="Price" style="width: 200px"></td>
            <td th:text="Time" style="width: 300px"></td>
            <td th:text="Brand" style="width: 200px"></td>
            <td th:text="Type" style="width: 200px"></td>
            <td th:text="Description" style="width: 400px"></td>
            <td colspan="2" style="width: 50px; text-align: center">Action</td>
        </tr>

        <th:block th:each="product : ${products}">
            <tr>
                <td th:text="${product.getId()}" style="width: 100px"></td>
                <td th:text="${product.getName()}" style="width: 300px"></td>
                <td th:text="${product.getPrice()}" style="width: 200px"></td>
                <td th:text="${product.getCreateAt()}" style="width: 300px"></td>
                <td th:text="${product.getBrand()}" style="width: 200px"></td>
                <td th:text="${product.getType().getName()}" style="width: 200px"></td>
                <td th:text="${product.getDescription()}" style="width: 400px"></td>
                <td><a th:href="@{/product/edit/__${product.id}__}" >Edit</a></td>
                <td><a th:href="@{/product/delete/__${product.id}__}" >Delete</a></td>
            </tr>
        </th:block>
    </table>
    <br>
<!--    <a th:href="@{/logout}" style="margin-left: 100px" th:text="#{logout}"></a>-->
</div>
<div>
    <a th:href="@{'/product/list'(page=${products.number - 1})}" th:if="${products.hasPrevious()}">Previous</a>
    <span th:text="${products.number + 1}"></span>/<span th:text="${products.totalPages}"></span>
    <a th:href="@{'/product/list'(page=${products.number + 1})}" th:if="${products.hasNext()}">Next</a>
</div>

</body>
</html>